#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
button {
  position: relative;
  z-index: 10;
}
.catchBtn {
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  padding: 0;
  width: fit-content;
}
.cardContainer {
  display: flex;
  background-color: skyblue;
  margin: 20px 0;
}
.pokemonCardInfo {
  border: 5px solid black;
}
.pokemonName {
  -webkit-text-stroke: 2px black;
}
.pokeLogo {
  width: 210px;
}
header {
  border-bottom: solid 4px blue;
  background: skyblue;
}

.pokeballImg {
  width: 100px;
  height: 100px;
  transform: translateX(15px);
  position: relative;
  z-index: 1;
}
.pokemonCardInfo {
  display: flex;
  flex-direction: column;
  border: 10px solid black;
  margin-left: -10px;
}

.pokemonCardInfo:first-child {
  margin-left: 0;
}
.modal {
  position: absolute;
  top: 20%;
  left: 45%;
  background: skyblue;
  border: 10px solid black;
  width: 300px;
  font-size: 20px;
}

.pokemonImg {
  display: flex;
  align-self: center;
  width: 200px;
  height: 200px;
}
.pokeballContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0;
  width: 50%;
  height: 550px;
  background: skyblue;
  border: 3px solid blue;
}

.pokeballImg.throw {
  animation:
    throwBall 1s ease forwards,
    wobble 0.7s 1s ease-in-out 5;
}

@keyframes throwBall {
  0% {
    transform: translate(15px, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate(35px, 200px) rotate(720deg) scale(3.2);
  }
}

@keyframes wobble {
  0%,
  100% {
    transform: translate(50px, 200px) rotate(720deg) scale(3.2);
  }
  25% {
    transform: translate(30px, 200px) rotate(705deg) scale(3.2);
  }
  75% {
    transform: translate(70px, 200px) rotate(735deg) scale(3.2);
  }
}
